.chat-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.messages-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.input-container input {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.input-container button {
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.input-container button:hover {
  background-color: #555;
}

.input-container button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
